<div class="wrapper">
  <div class="container">
    <div class="draft-intro">
      <div class="home-button"><%= link_to "Home", root_path, :class => "draft-link" %></div>
      <div class="draft-title"><%= @draft.name %></div>
    </div>
    <div class="draft-resume">
      <b>Recap : </b><%= @draft.intro %>
    </div>
    <div class="draft-main">
      <% if @draft.completion.nil? %>
        <h2>Sorry, I've yet to do this exercise, come back later :)</h2>
      <% else %>
        <%= raw @draft.completion %>
      <% end %>
    </div>
    <div class="previous-next">
      <% if @draft.previous && @draft.next %>
        <%= link_to("Previous exercise", @draft.previous) if @draft.previous %>
        <%= link_to("Next exercise", @draft.next) if @draft.next %>
      <% elsif @draft.previous %>
        <%= link_to("Previous exercise", @draft.previous) if @draft.previous %>
      <% else %>
        <%= link_to("Next exercise", @draft.next) if @draft.next %>
      <% end %>
    </div>
  </div>
</div>
